<template name="projects">
	<div class="row-fluid manage_header">
		<div class="span12">
			<h3>Manage Projects <a href="/projects/new" class="btn btn-success btn-medium pull-right"><i class="icon-plus-sign"></i>New Project</a></h3>
			<hr class="spacer">
		</div>
	</div>


	<div class="row-fluid manage">
		<div class="span12">
			<p class="muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, eos, commodi sunt corporis temporibus beatae earum veniam. Quam, iste, obcaecati aspernatur tempora architecto libero accusamus sit molestias incidunt non facere!</p>

			<table class='table'>
				<thead>
					<tr>
						<td colspan="4">
							Project List
						</td>
					</tr>
				</thead>

				
				<tr>
					<td>
						<h3>Resumonk</h3>
					</td>
					<td>
						<span class="muted">
							3 Members, 4 Tasks
						</span>

					</td>

					<td>
						<div class="btn-group pull-right">
							<button class="btn btn-small"><i class="icon-edit"></i>Edit</button>
							<button class="btn btn-small"><i class="icon-trash"></i>Archive</button>
							<button class="btn btn-small btn-danger"><i class="icon-remove-sign"></i>Delete</button>
						</div>
					</td>
				</tr>
				

			</table>
		</div>
	</div>


</template>