<template name="timer_form">
	{{#unless addingProject}}
	<div class="row-fluid">	
		<div class="span10">
			<label>Project</label>
			<select name="project" class="input-block-level project">
				{{#each projects}}
				<option value="{{_id}}">{{name}}</option>
				{{/each}}
			</select>
		</div>
		<div class="span2">
			<a href="#projectModal" role="button" data-toggle="modal" class="btn btn-icon btn-primary btn-block"><i class="icon-plus-sign"></i></a>		
		</div>
	</div>
	{{/unless}}

	<div class="row-fluid">
		<div class="span12">
			<label>Task</label>
			<input type="text" class="input-block-level task" placeholder="Task Name">
		</div>
	</div>

	<div class="row-fluid">
		<div class="span9">
			<label>Notes</label>
			<textarea name="notes" class="notes input-block-level"></textarea>
		</div>

		<div class="span3">
			<label>Time</label>
			<input type="text" class="time input-block-level" placeholder="00:00" value="00:00">
		</div>
	</div>

	<div class="row-fluid submit">
		<input type="submit" class="btn btn-success btn-large btn-block" value="Add Timer">
	</div>
</template>