<template name="timer_list">
	<ul class="unstyled timer_list">
		{{#each timers}}
		{{> timer_item}}
		{{/each}}
	</ul>

	{{> timerModal}}
</template>

<template name="timer_item">
	<li class="well">

		<div class="row-fluid">
			<div class="span7">
				<h3>
					{{task}}
				</h3>
				<h5>
					{{project.name}}
					<small>
						{{client.name}}
						<span class="label">
							{{user.username}}
						</span>
					</small>
				</h5>

			</div>
			<div class="span3 time">
				<h3>
					
					{{#if isTracking }}
						<div class="clock">{{currentTime}}</div>
						<div class="btn btn-danger stop">
							<i class="icon-time"></i>
							Stop
						</div>
					{{else}}
						<div class="time_wrap">{{time}}</div>
						<div class="btn btn-primary start">
							<i class="icon-time"></i>
							Start
						</div>
					{{/if}}
				</h3>
			</div>

			<div class="span2 actions">
				
					<a href="#timerModal" data-toggle="modal" role="button" class="btn edit-timer-item btn-block"><i class="icon-edit"></i>Edit</a>
					<button class="btn btn-danger btn-block remove-timer-item"><i class="icon-trash"></i>Delete</button>
				
			</div>
		</div>
	</li>
</template>

<template name="timerModal">
	<div id="timerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Edit Timer</h3>
		</div>
		<form>
			<div class="modal-body">
				{{> timer_form}}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-close" data-dismiss="modal" aria-hidden="true">Cancel</button>
				<button class="btn submit-btn btn-primary" type="submit">Save changes</button>
			</div>
		</form>
	</div>
</template>