<template name="new_timer">
	<form class="add_timer_form form-horizontal">
		<fieldset>
			<legend><small>Add New Timer for {{date}}</small></legend>

			{{#if addingProject }}
			<div class="row-fluid new_project">
				<div class="span8">
					<label>Project Name</label>
					<input type="text" name="project_name" class="input-block-level project_name project_name" placeholder="Project name">
				</div>

				<div class="span2">
					<button class="btn btn-icon add-project btn-block btn-primary"><i class="icon-ok"></i></button>
				</div>

				<div class="span2">
					<button class="btn btn-icon hide-project-form btn-block"><i class="icon-remove"></i></button>
				</div>
			</div>
			{{/if}}
			
			
			{{> timer_form}}
		</fieldset>

	</form>


	{{> projectModal}}
</template>


<template name="projectModal">
	<div id="projectModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Add a Project</h3>
		</div>
		<form>
			<div class="modal-body">
				{{> project_form}}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-close" data-dismiss="modal" aria-hidden="true">Cancel</button>
				<button class="btn submit-btn btn-primary" type="submit">Save changes</button>
			</div>
		</form>
	</div>
</template>