<template name="new_person">

	<div class="row-fluid manage">
		<div class="span12">
			<div class="modal-header row-fluid">
				<h3  class="pull-left" id="clientModalLabel"><i class="icon-plus-sign"></i>Add An Employee
				</h3>

				<a href="/manage/people" class="btn pull-right"><i class="icon-chevron-left"></i>Back</a>

			</div>

			<form class="form-horizontal">
				<div class="modal-body">

					<div class="control-group">
						<label class="control-label">Username</label>
						<div class="controls">
							<input type="text" class="input-block-level username" placeholder="Username">
						</div>
					</div>

					<div class="control-group">
					<label class="control-label">Name</label>
						<div class="controls">
							<input name="firstName" class="span6 firstName" type="text" placeholder="First Name">
							<input name="lastName" class="span6 lastName" type="text" placeholder="Last Name">


						</div>
					</div>


					<div class="control-group">
						<label class="control-label">Email</label>
						<div class="controls">
							<input type="text" class="input-block-level email" placeholder="Email">
						</div>
					</div>


					<div class="control-group">
						<label class="control-label">Role</label>
						<div class="controls">
							<select name="role" class="input-block-level role">
								<option value="employee">Employee</option>
								<option value="admin">Admin</option>
							</select>
						</div>
					</div>

				</div>


				<div class="modal-footer">
					<a href="/manage/people" class="btn">Cancel</a>
					<button class="btn btn-primary" type="submit">Save changes</button>
				</div>
			</form>
		</div>
	</div>

</template>