<template name="projects">
	<div class="row-fluid manage_header">
		<div class="span12">
			<h3>Manage Projects <a href="/manage/projects/new" role="button" class="btn btn-success btn-medium pull-right"><i class="icon-plus-sign"></i>New Project</a></h3>
			<hr class="spacer">
		</div>
	</div>


	<div class="row-fluid manage">
		<div class="span12">
			<p class="muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, eos, commodi sunt corporis temporibus beatae earum veniam. Quam, iste, obcaecati aspernatur tempora architecto libero accusamus sit molestias incidunt non facere!</p>

			<table class='table'>
				<thead>
					<tr>
						<td colspan="3">
							Project List
						</td>
					</tr>
				</thead>

				{{#each projects}}
				<tr>
					{{#if editingProject}}
						{{> editProject}}
					{{else}}
						{{> viewProject }}
					{{/if}}
				</tr>
				{{/each}}
				

			</table>
		</div>
	</div>

</template>


<template name="editProject">
	
		<td class="form_wrap">

			<form class="editForm form-horizontal">
				{{> project_form}}
				
				<div class="control-group">
					<div class="controls">
						<button class="btn btn-medium btn-success done-editing pull-right"><i class="icon-edit"></i>Update</button>
					</div>
				</div>

			</form>
			
		</td>

		<td>
			<div class="btn-group pull-right">
				<button class="btn btn-small revert"><i class="icon-remove-sign"></i>Revert</button>
				<button class="btn btn-small btn-danger"><i class="icon-remove-sign"></i>Delete</button>
			</div>
		</td>

	
	
</template>


<template name="viewProject">
	<td>
		<h3>
			{{name}}
			<small class="muted">
				<strong>Client:</strong> {{client}},

				<strong>Team:</strong> {{memberCount}} members
				
			</small>
		</h3>
	</td>

	<td>
		<div class="btn-group pull-right">
			<button class="btn btn-small edit"><i class="icon-edit"></i>Edit</button>
			<button class="btn btn-small btn-danger delete"><i class="icon-remove-sign"></i>Delete</button>
		</div>
	</td>
</template>