<template name="new_project">

	<div class="row-fluid manage">
		<div class="span12">
			<div class="modal-header row-fluid">
				<h3  class="pull-left" id="clientModalLabel"><i class="icon-plus-sign"></i>Add A Project
				</h3>

				<a href="/manage/projects" class="btn pull-right back"><i class="icon-chevron-left"></i>Back</a>

			</div>

			<form class="form-horizontal">
				<div class="modal-body">

					{{> project_form }}



				</div>
				<div class="modal-footer">
					<a href="/manage/projects" class="btn back">Cancel</a>
					<button class="btn submit-btn btn-primary" type="submit">Save changes</button>
				</div>
			</form>
		</div>
	</div>

	

	
</template>